body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    transition: margin-top 1s;
}

@media (min-width: 542px) {
    section.contentwrappermob, 
    div.krona,
    section.contentwrappercomp .hideElem,
    .topmenu {
        display: none;
    }
}

.displayer {
    display: flex!important;
}

.nodisplayer {
    display: none!important;
}

a {
    color: inherit;
    text-decoration: none;
}

/* a:hover {
    color: blue;
    text-decoration: underline;
} */

h1 {
    font-size: 150px;
    font-family: archivo-black-regular;
    color: white;
    text-transform: uppercase;
    line-height: 118px;
    margin: 0;
    padding: 0 0 75px 30px;
}

section.feedback h1 {
    padding: 68px 0 0 30px;
}

h3 {
    display: block;
    font-family: archivo-black-regular;
    font-size: 40px;
    color: black;
    margin: 46px 0 0 30px;
    text-transform: uppercase;
}

.feedback_middlebody h3, .feedback_footerbody h3 {
    color: white;
    margin: 0px;
}

.feedback_middlebody h3 {
    margin-left: 50px;
}

.feedback_footerbody h3 {
    margin: 107px 0 0 54px;
}

.footerofcontentblock {
    display: block;
    margin: 0 0 91.88px 93px;
}

@font-face {
    font-family: archivo-black-regular;
    src: url(fonts/archivo-black-regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-SemiBold-slnt=0.ttf);
}

.contacts {
    display: flex;
}

.contacts_item {
    display: block;
    height: 110px;
    width: 100%; 
    background: black;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    line-height: 110px;
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    overflow: hidden;
}

.contacts_item:last-child {
    border-right: none;
}

.content {
    display: flex;
    background: black;
    height: 100%;
}

.content_block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-right: solid 2px white;
    width: 50%;
    overflow: hidden;
}

#imgyoutube {
    width: 9999px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#imgyoutube .width {
    width: 9999px;
    display: flex;
    flex-direction: row;
}

#imgyoutube img {
    width: 2234px;
    margin-top: 20px;
}

#imgyoutube img:nth-child(2n+1) {
    margin-left: -900px;
}

#imgbehance {
    height: 9999px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 100px 0 0 -1350px;
    transform: rotate(15deg);
}

#imgbehance img {
    height: 3363px;
    margin-left: 20px;
}

#imgbehance .height:nth-child(2n+1) {
    margin-top: -1181px;
}

section.sitehead, section.feedback {
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

section.sitehead .content_block {
    justify-content: flex-end;
}

.content_block ul {
    justify-content: flex-start;
    max-width: 640px;
}

.content_block_services {
    font-size: 50px;
    font-family: Inter;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    line-height: 70px;
}

.content_block:last-child {
    border-right: none;
}

.menu {
    display: flex;
}

.menu_block {
    display: block;
    width: 100vw;
    height: 288px;
    z-index: 1;
}

.menu_block_underheading {
    font-family: Inter;
    font-size: 16px;
    font-weight: bolder;
    color: black;
    margin-top: 25px;
    margin-left: 30px;
    text-transform: uppercase;
    overflow: hidden;
}

.instagram {
    background: #00CD70;
}

.behance {
    background: #AD00FF;
}

.youtube {
    background: #FEF104;
}

.links p:after {
    content: url(vectors/Vector1.svg);
    margin-left: 13px;
}

.youtube .links p:after {
    content: url(vectors/Vector3.svg);
}

.behance .links p {
    color: yellow;
}

.behance .links p:after {
    content: url(vectors/Vector2.svg);
}

.content_block.instagram,.content_block.behance,.content_block.youtube, .black, .white {
    border: none;
    overflow: hidden;
    height: 100vh;
}

.white {
    background-color: white;
}

.followers {
    font-family: archivo-black-regular;
    margin: 80px 0 0 30px;
    font-size: 30px;
}

.menu_block.instagram .followers {
    color: white;
}

.menu_block.behance .followers {
    color: #FEF104;
}

.menu_block.youtube .followers {
    color: #AD00FF;
}

ul.services {
    margin: 122px 0 0 93px;
    padding: 0;
}

ul.services li {
    display: inline;
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

ul.services li::after {
    content: url(slashes/1.png);
    margin: 0 20px 0 20px;
}

div.behance li::after {
    content: url(slashes/3.png);
}

div.youtube li::after {
    content: url(slashes/2.png);
} 

.links {
    font-family: archivo-black-regular;
    color: white;
    font-size: 30px;
    text-transform: uppercase;  
    line-height: 23.79px;
}

div.links p {
    margin-top: 20px;
    width: 370px;
}

h2 {
    color: black;
    font-family: archivo-black-regular;
    font-size: 80px;
    text-transform: uppercase;
    line-height: 63.44px;
    margin: 0;
}

div.youtube .links {
    color: #AD00FF;
}

div.behance .black, .youtube { /*no right-border*/
    border-right: none;
}

section.feedback .content_block {
    height: 100%;
}

.contentfooter, .contentmiddle {
    height: auto;
    display: flex;
    background-color: black;
}

section.sitehead ul.services {
    color: white;
    text-transform: uppercase;
    margin-bottom: 70px;
} 

section.feedback ul.services {
    margin-left: 83px;
    margin-bottom: 75px;
    color: white;
}

.feedback_middlebody {
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    width: 100%;
    height: 99px;
    line-height: 99px;
}

.feedback_footerbody {
    height: 289px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.feedback_footerbody:first-child {
    border-right: solid 2px white; 
}

.feedback_footerbody .underheading {
    font-family: Inter;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}

h4 {
    text-transform: uppercase;
    line-height: 99px;
    font-family: Inter;
    font-size: 16px;
    margin: 0 0 0 83px;
    color: white;
}

.dir {
    position: relative;
    margin: 70px 51px 0 0;
}

.dir_pic {
    position: absolute;
    top: 70px;
    right: 90px;
    display: flex;
    align-items: center;
    width: 75px;
}

div.director_photo {
    height: 164px;
}

.picrounder, .picrounder_imagein {
    border-radius: 50%;
    cursor: pointer;
}

.picrounder_imagein {
    position: absolute;
    left: 23px;
    bottom: 25px;
}

.backstar {
    background-image: url(photos/star.png);
    background-repeat: no-repeat;
    background-position: center;
}

#imginstagram {
    display: flex;
    height: 100%;
    margin-left: -79px;
}

#imginstagram .height {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    height: 9999px;
}

#imginstagram .height:nth-child(2n+1) {
    margin-top: -547px;
}

@media (max-width: 1390px) and (min-width: 541px) {

    .contacts_item {
        font-size: 15px;
        height: 50px;
        line-height: 50px;
    }

    .menu {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .menu_block {
        height: 120px;
    }

    h3 {
        margin: 0 0 0 30px;
    }
    .menu_block_underheading {
        margin: 0 0 0 30px;
    }

    .followers {
        margin: 0 0 0 30px;
    }

    .footerofcontentblock {
        margin: 0 0 100px 50px;
    }

    .links {
        font-size: 20px;
    }

    div.links p {
        width: 250px;
    }

    .sitehead h1 {
        padding: 0;
        margin: auto auto auto auto;
    }

    h1 {
        font-size: 50px;
        line-height: 40px;
    }

    h2 {
        font-size: 30px;
    }

    section.sitehead .content_block {
        height: 100%;
    } 

    section.sitehead ul.services {
        margin: auto auto auto auto;
    }

    ul.services li {
        font-size: 20px;
    }

    ul.services li::after {
        content: "/";
        margin: 5px;
    }    

    ul.services {
        margin: 100px 0 0 50px;
    }

    section.feedback ul.services {
        margin: 100px 0 0 50px;
        color: white;
    }

    section.feedback h1 {
        padding: 0;
        margin: 100px 0 0 50px;
    }

    .feedback .content_block {
        height: 250px;
    }

    .content_block.black img {
        height: 100%;
    }

    .feedback_middlebody {
        height: 44px;
    }

    .feedback_middlebody h3, .feedback_footerbody h3 {
        color: white;
        font-size: 20px;
        line-height: 44px;
    }

    h4 {
        margin: 0;
        line-height: 44px;
        font-size: 9px;
    }

    .dir_pic > .picrounder {
        height: 40px; 
        width: 40px; 
    } 

    .dir > a > .picrounder {
        height: 100px; 
        width: 100px; 
    } 

    .dir_pic {
        height: 60px; 
        width: 60px;
        right: 50px;
        top: 55px;
    }

    .director_photo_messanger .picrounder {
        height: 60px; 
        width: 60px;
    }
    
    .picrounder_imagein {
        height: 15px; 
        width: 15px;
        left: 12px;
        bottom: 22px;
    }

}

@media (max-width: 541px) {

    section.contentwrappermob {
        transition: margin-top 1s;
    }
    
    section.contentwrappercomp, .web {
        display: none;
        flex-direction: column;
        height: 100%;
    }

    section.contentwrappermob {
        height: 100%;
    }

    header, .content_block.krona {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
       
    header, footer {
        background-color: black;
    }

    section.youtube .links p {
        color: #AD00FF;
    }
    
    .menuPlace {
        height: 70px;
        width: 100%;
    }

    .topmenu {
        display: flex;
        justify-content: space-between;
        height: 70px;
        border-bottom: solid 2px white;
        width: 100%;
        align-items: center;
        position: fixed;
        z-index: 5;
        top: 0;
        transition: opacity 1s;
    }

    h3.topmenu__menu {
        font-family: Inter;
        font-size: 15px;
        text-transform: uppercase;
        color: white;
        margin: 0 0 0 0;
        padding: 0 0 0 15px;
        line-height: 70px;
        font-weight: 700;
    }

    .topmenu__symbol {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 7px;
        padding: 10px 15px 10px 0;
    }

    .topmenu__symbol_line {
        background: white;
        height: 2px;
        width: 35px;
    }

    header ul.services, footer ul.services, .krona ul.services {
        color: white;
    }  

    .contentwrappermob ul.services, .krona ul.services {
        text-transform: uppercase;
        margin: 30px 15px 0 15px;
    }

    ul.services li {
        font-size: 30px;    
    }

    ul.services li::after {
        margin: 0 5px 0 5px;
    }

    section.contentwrappermob h1, div.krona h1.content_block_krona {
        padding: 0;
        margin: 0 15px 40px 15px;
        font-size: 50px;
        line-height: 68.28px;
        word-break: break-all;
    }

    div.krona h1.content_block_krona {
        height: 100%;
        display: flex;
        align-items: center;
    }

    section.contentwrappermob .content_block, .content_block.krona, .krona .content_block {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        border-right: none;
    }

    .behance h1, .instagram h1, .youtube h1, .youtube .links, .youtube h3 {
        color: black;
    }

    .youtube .topmenu__symbol_line {
        background: #000000;
    }

    .active:nth-child(2n+1) {
        transform: rotate(30deg);
    }

    .active:nth-child(2n) {
        transform: translateY(-5px) rotate(-31deg);
    }

    .topmenu__symbol.active {
        transform: translate(0) rotate(0);
    }

    div.krona h1.content_block_krona  {
	color: #000000;
    line-height: 60px;
	text-shadow: 
		-0   -1px 0   #FFFFFF,
		 0   -1px 0   #FFFFFF,
		-0    1px 0   #FFFFFF,
		 0    1px 0   #FFFFFF,
		-1px -0   0   #FFFFFF,
		 1px -0   0   #FFFFFF,
		-1px  0   0   #FFFFFF,
		 1px  0   0   #FFFFFF,
		-1px -1px 0   #FFFFFF,
		 1px -1px 0   #FFFFFF,
		-1px  1px 0   #FFFFFF,
		 1px  1px 0   #FFFFFF,
		-1px -1px 0   #FFFFFF,
		 1px -1px 0   #FFFFFF,
		-1px  1px 0   #FFFFFF,
		 1px  1px 0   #FFFFFF;
    }

    .content_block.krona {
        position: fixed;
        background: black;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .contactsMob {
        padding: 20px 15px;
        height: 100%;
    }

    footer.web .content {
        display: flex;
        flex-direction: column;
    }

    footer.web .content_block {
        border-bottom: solid 2px white;
        flex-shrink: 0;
        height: auto;
    }

    footer .content_block:last-child {
        border-bottom: none;
    }

    footer h3 {
        color: white;
        font-size: 25px;
        font-weight: 100;
    }

    footer h3:last-child {
        margin-top: 0;
    }

    h4 {
        line-height: 40px;
    }

    .krona h4 {
        margin-bottom: 30px;
    }

    footer h4 {
        font-size: 14px;
        opacity: 0.5;
        line-height: 21px;
        margin: 0;
        padding-right: 100px;
    }

    .info h3 {
        margin: 0;
        padding-bottom: 5px;
    }

    footer.web ul.services, 
    .info:only-child {
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer.web ul.services {
        margin: 0;
    }

    ul.services li::after {
        content: url(slashes/1.png);
        display: inline-block;
        transform: translateY(9px) scale(0.7);
        margin-top: -15px;
    }

    .krona h4 {
        font-family: Inter;
        font-size: 20px;
        font-weight: bold;
        text-shadow: none;
        margin-left: 4px;
    }

    .youtube ul.services li:after {
        content: url(slashes/2.png);
    }

    .links p:after {
        content: url(vectors/Vector1.svg);
        margin-left: 13px;
    }

    section.youtube .links p:after {
        content: url(vectors/Vector3.svg);
    }

    .topmenu__textYoutube h3 {
        color: black;
    }

    .topmenu__textYoutube .topmenu__symbol_line {
        background: black;
        transition: opacity 0.5s;
    }

    .disappear {
        opacity: 0;
    }
}